<div class="container">
  <div class="row">
    <table class="table col-lg-12">
      <thead>
        <th>Name</th>
        <th>Rating</th>
      </thead>
      <tbody>
        <tr *ngFor="let show of shows" (click)="showDetail(show)">
          <td>{{show.label}}</td>
          <td><span *ngIf="show.rating!==0">{{show.rating}}</span></td>
          <td><button class="btn btn-primary pull-right" (click)="deleteShow(show)"><i class="fa fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>