<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <app-show-list></app-show-list>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <app-add-show-form></app-add-show-form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <app-show-detail></app-show-detail>
    </div>
  </div>
</div>