<div class="container">
  <div class="row">
    <div class="card col-lg-12" *ngIf="detailShow">
      <div class="card-body">
        <h5 class="card-title">{{detailShow.label}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><img [src]="detailShow.pictureUrl" /></h6>
        <p class="card-text" [innerHTML]="detailShow.description"></p>
      </div>
    </div>
  </div>
</div>